<!DOCTYPE html>

<html>
    <head>
         <title>About</title>
         <link rel="icon" href="/img/weather-icon.png">
        <link rel='stylesheet' href="/css/styles.css"> 
    </head>
    <body>
         <div class="main-content">
            {{>header}}
        </div>
        <p>This site is created by me to learn more about node js. It uses differente tools that helps to improve my skills.</p>
        <img class="portrait" src="/img/me.jpg">
        {{>footer}}
    </body>
</html>