<!DOCTYPE html>

<html>
    <head>
        <title>Error 404</title>
        <link rel='stylesheet' href="/css/styles.css"> 
    </head>
    <body>
         <div class="main-content">
            {{>header}}
        </div>
        <h1>{{text}}</h1>
        {{>footer}}
    </body>
</html>